<section class="main-content-section">		
		<div class="container">			
			<div class="disclaimer_page">
				<div class="disclaimer_page_inner">
					<h1>disclaimer</h1>
					<p data-role="listview">The website <a href="http://localhost/new_manast_curl_changes/">manastlouis.com</a> gives complete details of St.Louis city and the information is solely provided by our website users. Either directly or indirectly we are not responsible for the information provided by them. If any inconvenience is caused please mail us to <a href="mailto:contact@manastlouis.com" data-rel="external">info@manastlouis.com</a>.</p>
					<p>Our website is completely a free service for all type of postings. We have taken necessary preventive steps to avoid any derogatory and offensive actions, but we cannot promise to avoid them completely. Our intention is not to hurt the feelings of any nation, religion, caste, sex or any section of people. We do not encourage such type of actions at any cost and if anything happens that is totally your responsibility. Hence we recommend you to verify the information provided by the users well enough to move forward.<p>
					<p>manastlouis.com gives information about Tourist places, Apartments, Universities, Restaurants, Worshipping places, Grocery shops, Health centers and Entertainment. These details are posted either from a web source or from other human sources and it completely depends on users credibility. We do not provide any authentication for such information. Although the posts are published on our approval, any information regarding the classifieds, job postings and the above said categories are totally user dependent. We do not hold responsibility for any misuse and offensive content on such postings.<p>
					<p>As a part of business, our website endorses different type of adds which may link to other websites. Those websites are designed by other parties and we are not part of them. We are not authorized to check the quality of the goods and services published on classifieds. We have nothing to do with the payments and delivery systems. It is your responsibility to make a decision regarding buying and selling of the goods and services published on the ads. We are not bound for any damages, loses or inconveniences caused while using our services. <p>
					<p>If you find any information or action hurting the feelings of a person or a community on our website, never hesitate to contact us. We will take necessary preventive steps to remove the post. We have every right to refuse the service, modify or delete the post. If you are obligated to the above said information we can confidently say that you are going to experience a great service. If you disagree to the above conditions we request you not to use our website.<p>
				</div>	
			</div>
		</div>
	</section>
	<script src="{{GLOBAL_DIR_PATH}}view_library/js/new-js.js"></script>