<section>
		<div class="container">
			<div class="login_section_bg">
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-lg-4"></div>
					<div class="col-xs-12 col-sm-6 col-lg-4">
						<div class="confirm_email_body">
							<div class="confirm_email_alert">
								<div class="alert alert-success">
									 You will receive an email from us within the next few minutes
								</div>
							</div>	
							<div class="confirm_email_heading">
								<h3 >Confirm Post Updated</h3>
							</div>								
							<div class="confirm_email_down">
								<div class="confirm_email_message">
									<p>your post has been  updated successfully . please check your register email</p>
								</div>
									<a href="http://localhost/manast_curl_changes/">
										<button type="button" class="confirm_email_button">
										<i class="fas fa-thumbs-up"></i>
										<span>ok</span>
									</button>
									</a>
								
							</div>															
						</div>
				   </div>
				   <div class="col-xs-12 col-sm-3 col-lg-4"></div>
				</div>
			</div>
		</div>
	</section>
	<script src="{{GLOBAL_DIR_PATH}}view_library/js/new-js.js"></script>